body.body-home {
  background-image: url(home/background_small-600.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  border: 1px solid lightgrey;
}
.home-content-about,
.home-content-performances,
.home-content-workshops,
.home-content-contact {
  width: 80vw;
  height: 80vw;
  margin: 0 auto;
  @include transform(rotate(-5deg));
  @include flexbox;
  @include flex-wrap(wrap);
  @include align-items(flex-end);
  @include justify-content(center);
  opacity: 0.9;
  .home-button-about,
  .home-button-performances,
  .home-button-workshops,
  .home-button-contact {
    width: 65vw;
    height: 65vw;
    background-image: url(home/eye_128.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 80%;
    font-family: 'Stardos Stencil Bold', 'Due Date','Montserrat', sans-serif;
    @include flexbox;
    @include align-items(flex-end);
    @include justify-content(center);
    font-size: 2.75em;
    text-shadow: 1px 1px 1px #fafafa;
    font-weight: bold;
    letter-spacing: 3px;
    border: 6px solid black;
    @include border-radius(5%);
    color: black;
    background-color: #ddd;
    }
    .home-button-about {
      background-image: url(home/dna_128.png);
    }
    .home-button-workshops {
      background-image: url(home/factory_128.png);
      font-size: 2.5em;
    }
    .home-button-contact {
      background-image: url(home/at-sign_128.png);
    }
  }
  .home-content-performances {
    @include transform(rotate(2deg));
  }
  .home-content-about {
    @include transform(rotate(3deg));
  }
  .home-content-contact {
    @include transform(rotate(-2deg));
  }

  // MEDIA QUERIES
@media screen and (max-width: 350px) {
  .home-content-about,
  .home-content-performances,
  .home-content-workshops,
  .home-content-contact {
    width: 90vw;
    height: 90vw;
    .home-button-about,
    .home-button-performances,
    .home-button-workshops,
    .home-button-contact {
      width: 80vw;
      height: 80vw;
    }
  }
}
@media screen and (min-width: 351px) and (max-width: 600px) {
  .home-content-about,
  .home-content-performances,
  .home-content-workshops,
  .home-content-contact {
    width: 85vw;
    height: 85vw;
    .home-button-about,
    .home-button-performances,
    .home-button-workshops,
    .home-button-contact {
      width: 65vw;
      height: 65vw;
    }
  }
  .w3-opennav {
    color: lightgrey;
  }
}
@media screen and (min-width: 601px) {
  body.body-home {
    background-image: url(home/background_medium-768.jpg);
  }
  .row1 {
    max-width: 768px;
    margin: 0 auto;
  }
  .home-content-about,
  .home-content-performances,
  .home-content-workshops,
  .home-content-contact {
    width: 40vw;
    height: 40vw;
    .home-button-about,
    .home-button-performances,
    .home-button-workshops,
    .home-button-contact {
      width: 35vw;
      height: 35vw;
    }
  }
  .home-content-performances,
  .home-content-about {
    float: left;
    margin-left: 3em;
  }
}
@media screen and (min-width: 769px) {
  body.body-home {
    background-image: url(home/background_large-1024.jpg);
  }
  .home-content-about,
  .home-content-performances,
  .home-content-workshops,
  .home-content-contact {
    width: 35vw;
    height: 35vw;
    .home-button-about,
    .home-button-performances,
    .home-button-workshops,
    .home-button-contact {
      width: 30vw;
      height: 30vw;
    }
  }
}
@media screen and (min-width: 1025px) {
  .home-content-about,
  .home-content-performances,
  .home-content-workshops,
  .home-content-contact {
    width: 300px;
    height: 300px;
    .home-button-about,
    .home-button-performances,
    .home-button-workshops,
    .home-button-contact {
      width: 250px;
      height: 250px;
    }
  }
}
