body.body-toneel {
  background-image: url(toneel/backgroundtoneel_fixed_600.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  border-left: 1px solid grey;
  border-right: 1px solid grey;}
.about-sohappy,
.toneel-rooftopcontent,
.toneel-neemmein {
  padding: 0 2%;
}
//SO HAPPY
.sohappy {
  margin: auto;
  width: 90%;
  h4 {
    color: #696866;
  }
  .about-sohappy {
    background-color: #fafafa;
    @include transform(rotate(-1deg));
    padding-bottom: 3em;
  }
  .playlist {
    width: 90%;
    background: #fffce7;
    margin: 1em auto;
    padding: 2%;
    line-height: 1.3em;
    @include transform(rotate(1deg));
    a {
      text-decoration: none;
      color: #006a8c;
    }
  }
}
.credits {
  background-color: lightgrey;
  font-size: 80%;
  margin-top: 1em;
  font-weight: bold;
  line-height: 1.25em;
  .toneel-credits2 {
    @include transform(rotate(-1deg));
  }
  .credits-sohappy {
    @include transform(rotate(-2deg));
  }
}
.toneel-foto1 {
  .foto1 {
    @include border-radius(50%);
    border: 4px solid #fafafa;
    margin: auto;
    display: block;
  }
}
.toneel-foto2 {
  width: 70%;
  margin: 0 auto;
}
.toneel-foto3 {
  display: block;
  margin: 0 auto;
}
.toneel-rooftop1 {
  font-size: 80%;
  background-color: #f9ffff;
  @include transform(rotate(2deg));
  font-weight: bold;
}
.toneel-rooftop2 {
  width: 75%;
  margin: 0 auto;
}
.toneel-neemmein, .toneel-rooftopcontent {
  background-color: #fafafa;
  @include transform(rotate(1deg));
  width: 95%;
  margin: 0 auto;
  h4 {
    color: #696866;
  }
}
.toneel-rooftopcontent {
  @include transform(rotate(-1deg));
  width: 90%;
}

@media screen and (min-width: 601px) {

  .logo-content {
    width: 48%;
    float: left;
  }
  .sohappy, .neemmein {
    width: 95%;
    padding: 4%;
  }
  .neemmein {
    width: 96%;
    float: right;
  }
  .sohappy {
    .about-sohappy {
      padding-bottom: 1em;
    }
  }
  .toneel-foto1 {
    width: 70%;
    margin: 4em auto 2em auto;
  }
  .toneel-foto2 {
    width: 90%;
  }
  .toneel-foto3 {
    margin-top: 2em;
    width: 65%;
  }
  .toneel-rooftop1 {
    width: 85%;
    line-height: 1.25em;
  }
  .toneel-rooftop2 {
    float: none;
    width: 70%;
  }
  .rooftop {
    width: 98%;
    margin-top: 2em;
  }
  .toneel-credits3 {
    width: 85%;
    margin: 0 auto;
    @include transform(rotate(1deg));
  }
}
.burger {
  margin-top: 1em;
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  body.body-toneel {
    background-image: url(toneel/backgroundtoneel_fixed_768.jpg);
  }
  .toneel-rooftop1 {
    width: 100%;
  }
  .toneel-rooftop2 {
    width: 80%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1440px) {
  body.body-toneel {
    background-image: url(toneel/backgroundtoneel_fixed_1024.jpg);
//    background-size: 70%;
  }
}
@media screen and (min-width: 1441px) {
  body.body-toneel {
    background-image: url(toneel/backgroundtoneel_fixed_1024.jpg);
    background-size: 70%;
  }
}
