@import "reset";
@import "w3";
@import "flex";

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Baloo+Da);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@font-face {
  font-family: 'Due Date';
  src: url(../fonts/DueDate.ttf);
}
@font-face {
  font-family: 'Top Secret';
  src: url("../fonts/Top Secret.ttf");
}
@font-face {
  font-family: 'Stardos Stencil';
  src: url("../fonts/stardos stencil/StardosStencil-Regular.ttf");
}
@font-face {
  font-family: 'Stardos Stencil Bold';
  src: url("../fonts/stardos stencil/StardosStencil-Bold.ttf");
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

body {
  font-family: 'Josefin Sans', sans-serif;
  max-width: 1024px;
  margin: 0 auto;
  background: #fafafa;
}
#navigation {
  border-bottom: 1px solid grey;
}
.flex-row {
  @include flexbox;
  @include justify-content(center);
}
p {
  font-size: 1.25em;
}
img {max-width: 100%;}
h2,
h4 {
  font-family: 'Stardos Stencil Bold', 'Top Secret', 'Due Date', 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
}
h4 {font-size: 2em;}
h2 {font-size: 3.5em;}
.navi {
  color: #fafafa;
  font-family: 'Stardos Stencil Bold', 'Montserrat', sans-serif;
  .navbar_item {
    border-top: 1px solid #fafafa;
  }
  .w3-btn {
    background: none;
    padding: 0;
    a {
      text-decoration: none;
    }
  }
}
//Logo
.logo-content {
  text-align: center;
  h2 {
    font-size: 2.5em;
    color: #fafafa;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px white;
    text-transform: uppercase;
  }
}
#map {
  width: 80%;
  margin: 0 auto;
  height: 400px;
  @include transform(rotate(2deg));
  margin-top: 1em;
  border: 4px solid #fafafa;
}
footer {
  margin-top: 6em;
  background: #797979;
  color: #fafafa;
}

// MEDIA QUERIES

@media screen and (min-width: 601px) {
  body {
    @include transform(rotate(-1deg));
  }
  .navi {
    border: none;
    width: 45%;
    height: 150px;
    float: right;
    .navbar {
      @include flexbox;
      @include flex-direction(column);
      @include flex-wrap(wrap);
      @include justify-content(space-around);
      height: 150px;
    }
    .navbar_item {
    border: 3px solid #fafafa;
    background: grey;
    font-size: 2em;
    font-weight: bold;
    }
  }
  ul.block {
    display: block;
  }
  .button-home {
    min-width: 40%;
    @include transform(rotate(-3deg));
  }
  .button-over {
    min-width: 40%;
    @include transform(rotate(1deg));
  }
  .button-toneel {
    min-width: 50%;
    @include transform(rotate(2deg));
  }
  .button-workshop {
    min-width: 55%;
    @include transform(rotate(-1deg));
  }
  .button-contact {
    min-width: 40%;
    @include transform(rotate(2deg));
  }

}

@media screen and (min-width: 960px) {
  .button-workshop {
    width: 50%;
  }
}
@import "toneel";
@import "homsk";
@import "workshops";
@import "contact";
@import "home";
